h1{
	border: 2px solid black;
	height: 80px;
	text-align: center;
	font-size: 65px;
	background-color: #ff7a21;
	border-radius: 90px 0px 90px 0px;
}
body{
	background-color: #ffd724;
}
.animals{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
img{
	border: 2px solid #91ff00;
	transition: all 0.4s;
}
img:hover{
	transform: rotate(20deg);
}
h2{
	border: 2px solid black;
	margin-right: 1300px;
	text-align: center;
}