.sh{
	width: 350px;
	background: #ffad42;
	margin: 0px 0px 0px 100px;
	text-align: center;
	border-radius: 5px;
}
li{
	background: #ffcda1;
	text-align: center;
	margin: auto;
	border-radius: 5px;
	font-size: 19px;
}
div{
	background: #fdff8f;
}
#p1{
	background: #ffc342;
	font-family: cursive;
	width: 1470px;
	font-size: 18px;
	margin: auto;
	border-radius: 5px;
}